@use '../themes/variables' as *;

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  background: white;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  font-size: $primary-font-size;
  margin-bottom: 10px;
}

.modal-body {
  font-size: $secondary-font-size;
}
