@use "sass:map";
@use "sass:meta";
@use "../functions/functions" as *;
@use "../abstracts/variables" as *;

@each $category, $shades in $color-tokens {
  @each $shade, $value in $shades {
    .bg-#{$category}-#{$shade} {
      background-color: var(--color-bg-#{$category}-#{$shade});
    }
    .text-#{$category}-#{$shade} {
      color: var(--color-text-#{$category}-#{$shade});
    }
  }
}

@each $category, $variants in map.get($color-tokens, 'brand') {
  @each $variant, $value in $variants {
    .bg-#{$category}-#{$variant} {
      background-color: var(--color-bg-#{$category}-#{$variant});
    }
    .text-#{$category}-#{$variant} {
      color: var(--color-text-#{$category}-#{$variant});
    }
  }
}

@each $state, $variants in map.get($color-tokens, 'state') {
  @each $variant, $value in $variants {
    .bg-#{$state}-#{$variant} {
      background-color: var(--color-bg-#{$state}-#{$variant});
    }
    .text-#{$state}-#{$variant} {
      color: var(--color-text-#{$state}-#{$variant});
    }
  }
}
