@use './variables' as *;

body {
  background-color: $dark-background-color;
  color: $dark-primary-color;
}

body[data-theme='dark'] {
  background-color: $dark-background-color;
  color: $dark-primary-color;
}