// Variable definitions
$font-family: 'Arial, sans-serif';
$primary-font-size: 16px;
$secondary-font-size: 14px;

$light-background-color: #ffffff;
$light-primary-color: #000000;

$dark-background-color: #000000;
$dark-primary-color: #ffffff;
