@use "sass:map";

 

@mixin button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  // Use CSS variables for customization
  padding: 2px;
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.25rem;
  
  // border-radius: var(--button-border-radius, 0.25rem);
  transition: 
  background-color var(--button-transition, 0.2s ease-in-out),
  border-color var(--button-transition, 0.2s ease-in-out),
  color var(--button-transition, 0.2s ease-in-out),
  box-shadow var(--button-transition, 0.2s ease-in-out);
  
  cursor: pointer;
  text-decoration: none;
  user-select: none;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}

.button {
  @include button-base;

  &--primary {
    background-color: var(--color-brand-primary-dark);
    color: var(--color-text-white);
    border: 1px solid var(--color-primary-border);
    font-weight: 500;

    &:hover {
      background-color: var(--color-brand-primary-light);
    }
  }

  &--secondary {
    background-color: var(--color-secondary);
    color: var(--color-secondary-text);
    border: 1px solid var(--color-secondary-border);

    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }

  &--tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-tertiary-text);
    border: 1px solid var(--color-tertiary-border);

    &:hover {
      background-color: var(--color-tertiary-hover);
    }
  }
  &--success {
    background-color: var(--color-state-success-light);
    color: var(--color-text-primary);
    &:hover {
      background-color: var(--color-bg-tertiary);
    }
  }

  &--warning {
    background-color: var(--color-state-warning-light);
    color: var(--color-warning-text);
    

    &:hover {
      background-color: var(--color-state-warning-dark);
    }
  }

  &--error {
    background-color: var(--color-state-error-base);
    color: var(--color-error-text);
    border: 1px solid var(--color-error-border);

    &:hover {
      background-color: var(--color-state-error-dark);
    }
  }

  &--ghost {
    background-color: transparent;
    color: var(--color-ghost-text);
    border: 1px solid transparent;

    &:hover {
      background-color: var(--color-ghost-hover);
    }
  }

  &--link {
    background-color: transparent;
    color: var(--color-brand-secondary-light);
    border: 1px solid transparent;
    text-decoration: underline;

    &:hover {
      color: var(--color-brand-primary-dark);
    }
  }

  // Size modifiers
  &--small {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }

  &--medium {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
  }

  &--large {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }

  &--full-width {
    width: 100%;
  }
  &__loading {
    display: inline-flex;
    align-items: center;

    span {
      display: inline-flex;
      align-items: center;
    }

    .spinner {
      margin-left: 0.5rem; /* Add some space between text and spinner */
    }
  }
  // Icon handling
  &__icon {
    display: inline-flex;
    align-self: center;

    &--left {
      margin-right: 0.5rem;
    }

    &--right {
      margin-left: 0.5rem;
    }
  }
}
