/* Global styles */
@use "sass:map";
@use "../base/colors" as c;


  /* Document */
html {
  font-size: 16px;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

 
body { 
  color: var(--color-text-primary); 
  // background-color: create-css-var("color-background-primary");
  background-color: var(--color-background-primary); 
  line-height: 1.5; 
  text-rendering: optimizeSpeed; 
  margin: 0; 
  padding: 0; 
  font-family: 'Helvetica Neue', 
  Arial, sans-serif; min-height: 100vh;
 }
  

