/* Global styles */
@use "sass:map";
// @use "../themes/" as *;
@use "../abstracts/variables" as *;
 
// @use "../functions/" as *;
// @use "../abstracts/mixins" as *;
// @use "../utilities/" as *;

 

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Regular.ttf') format('truetype'),
       url('../../fonts/Poppins-Italic.ttf') format('truetype'),
       url('../../fonts/Poppins-Light.ttf') format('truetype'),
       url('../../fonts/Poppins-LightItalic.ttf') format('truetype'),
       url('../../fonts/Poppins-Medium.ttf') format('truetype'),
       url('../../fonts/Poppins-MediumItalic.ttf') format('truetype'),
       url('../../fonts/Poppins-SemiBold.ttf') format('truetype'),
       url('../../fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
       url('../../fonts/Poppins-Bold.ttf') format('truetype'),
       url('../../fonts/Poppins-BoldItalic.ttf') format('truetype'),
       url('../../fonts/Poppins-ExtraBold.ttf') format('truetype'),
       url('../../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
       url('../../fonts/Poppins-Black.ttf') format('truetype'),
       url('../../fonts/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





/* Document */
html {
  font-size: 1rem;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--color-text-primary); // Ensure this variable is defined
  background-color: var( --color-bg-primary); // Fixed typo
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  min-height: 100vh;
}

.container-flex {
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


 